.amrita {
  position: absolute;
  left: 370px;
  top: 125px;
}
.ff {
  position: relative;
  top: 20px;
  left: 1300px;
}
.rrt {
  background-image: url("https://wallpapertag.com/wallpaper/full/b/9/6/350851-download-free-website-background-1920x1080-for-mobile-hd.jpg");
  height: 750px;
  overflow: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: cadetblue;
}
#ExamSchedules {
  position: relative;
  top: 60px;
}
.bbut {
  position: relative;
  left: 10000px;
  top: 10px;
}
#crd {
  background-color: aqua;
  border-radius: 2px;
}
#alt {
  text-align: center;
  color: black;
  font-style: italic;
  font-weight: 500;
  /* background-color: rgb(139, 217, 231); */
  margin: 10px;
  padding: 5px;
}

#dtl {
  color: black;
  padding-left: 40px;
}
#newf {
  padding-left: 60px;
}
