.Login{
    
    background-image:url('https://media.istockphoto.com/photos/senior-teacher-standing-holding-a-book-in-front-of-a-bookcase-picture-id878473994?k=6&m=878473994&s=612x612&w=0&h=OkUm5Cj8XByQUnAD-x6Lye73Ofw-gs94GG-KGFKmWE4=');
    height: 750px;
    overflow: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Guns{
    position: relative;
    top:110px;
    left:900px;
}
.llink{
    position: right;
    padding-left: 200px;
}
.rat{
    position: relative;
    left:1400px;
    top:10px;
}