.forget {
  height: 750px;
  overflow: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px;
  background-color: cadetblue;
}

.but {
  position: absolute;
  right: 1125px;
  top: 20px;
}
#frm,
#new {
  background-color: darkolivegreen;
  padding: 20px;
  margin: 20px;
}
#Submit,
#verify {
  align-items: flex-end;
  margin: 20px;
}
#email,
#security {
  width: 75%;
  margin: 10px;
  left: 20px;
}
#lbl {
  margin-left: 300px;
}
#recover {
  background-color: bisque;
  color: blue;
  padding: 5px;
  margin: 20px;
}

#new {
  background-color: rgb(168, 118, 216);
  padding: 20px;
  margin: 20px;
}
#ne,
#co {
  color: aliceblue;

  font-variant: small-caps;
  font-weight: 500;
}
