.forget {
    height: 750px;
    overflow: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px;
    background-color: cadetblue;
  }
  
  
  .but{
    position: relative;
    left:100px;
    top:310px
  }